[submodule "3rdparty/glfw"]
	path = 3rdparty/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
[submodule "3rdparty/imgui"]
	path = 3rdparty/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "3rdparty/stb"]
	path = 3rdparty/stb
	url = https://github.com/nothings/stb.git
	branch = master
[submodule "3rdparty/nativefiledialog"]
	path = 3rdparty/nativefiledialog
	url = https://github.com/btzy/nativefiledialog-extended.git
	branch = master
[submodule "3rdparty/freetype"]
	path = 3rdparty/freetype
	url = https://github.com/freetype/freetype.git
[submodule "3rdparty/cpp-httplib"]
	path = 3rdparty/cpp-httplib
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "3rdparty/minizip-ng"]
	path = 3rdparty/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng.git
[submodule "3rdparty/libzip"]
	path = 3rdparty/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = git@github.com:madler/zlib.git
	branch = master
